<!DOCTYPE html>
<html>
<body>
	<p>
	One of the best times of my life
	</p>
	<table>
		<tbody>
		<tr>
			<td><img src=/images/sears.jpg></td>
			<td><img src=/images/beachkiss.jpg></td>
			<td><img src=/images/beanwink.jpg></td>
		</tr>
		<tr>
			<td><img src=/images/tounge.jpg></td>
			<td><img src=/images/beansmile.jpg></td>
			<td><img src=/images/beachsmile.jpg></td>
			</tbody>
		</tr>
	</table>
	<p>Was spending the day with you at the beach.</p>
</body>
</html>
