<!DOCTYPE html>
<html>
<body>
	<p>You are the girl of my dreams.
		<br><img src=/images/hat.jpg>
		<br>I think about you every day and night
		<br><img src=/images/kiss.jpg>
		<br>and I can never get enough of you.
		<br><img src=/images/bluehair.jpg>
		<br>I love you forever and always.
	</p>
	<p>Your future husband,</p>
	<h2>Conrad Lesiak</h2>
</body>
</html>