<!DOCTYPE html>
<html>
<body>
	<p>
	Half a year with you and I'm still having the time of my life with you.
	</p>
	<br><center><iframe width="720" height="460" src="//www.youtube.com/embed/0UEgnOphd3o" frameborder="0" allowfullscreen></iframe></center>
	<p>
	Thank you so much for this beautiful video.
	<br>Now i can cherish it forever and ever.
	</p>
</body>
</html>
