body {
	background-color:rgba(0, 175, 158, 1);
	font-size:50px;
	font-family: Indie Flower;
	}
h1 {
	text-align:center;
	font-size:40px;
	border:10px solid rgba(0, 0, 50, 1);
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
	background-color:rgba(213, 0, 197, 1);
}
h2 {
	font-size:70px;
	text-align:center;
}
p {
	text-align:center;
}
img {
	border: 3px solid rgba(0, 120, 115, 1);
	height:auto;
	width:auto;
	max-width:500px;
	max-height:500px;
}
#tophead {
	font-size:100px;
	text-align:center;
	font-weight:bold;
}
table {
	margin-left:auto; 
    margin-right:auto;
}
